:root {
    --secondary-color: rgba(33, 150, 243, 1);
        --main-color: rgba(33, 33, 33, 1);

    --rare-color: rgba(117, 117, 117, 1);
    --whitey-color: rgba(255, 255, 255, 1);

    --hero-bg-color: rgba(47, 48, 58, 1);
    --team-bg-color: rgba(245, 244, 250, 1);

}

body{
    font-family: Roboto,sans-serif;
    font-style: normal;
}

img{
    display: block;
}

.header,
.links,
.navigation,
.contacts-links {
    display: flex;
}

/* STUDIO */
/* Header */
.header{
  /* border: 2px solid black; */
  /* width: 80px; */

  padding-left: 215px;
}
.container-header{
        /* width: 1200px; */
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
}
.header-links-block {
            display: flex;
}

/* Logo  */
.web-studio {
    font-size: 26px;
    font-family: Raleway, sans-serif;

    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;

    /* margin-left: 215px; */
    margin-right:93px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.web {
    color: var(--secondary-color);
}
.studio {
    color: var(--main-color);
}
.studio-f{
    color:var(--whitey-color);
}


/* Links About */
.links{
        margin-top: 34px;
}
.menu-blocks{
    display: flex;
}
.links-menu{
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;

    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--main-color);

    box-sizing:border-box;

    padding-top: 7px;
    padding-bottom: 7px;

}
.menu-blocks li:not(:last-child),
.header-links-block li:not(:last-child) {
margin-right: 50px;
}
.links-menu:hover{
    color: var(--secondary-color);
}
.links-menu:focus {
    color: var(--secondary-color);
}
/* .links-menu:active{
        color: var(--secondary-color);
} */

/* Contacts about */
.contacts-links{
    margin-left: 331px;
    margin-top: 34px;
    white-space: nowrap;
}
.contacts-header {
    padding-top: 7px;
    padding-bottom: 7px;
}

.contacts, 
.contacts-header{
        color: var(--rare-color);

        text-decoration: none;

        font-weight: 500;
        font-size: 14px;

        letter-spacing: 0.02em;
        line-height: 1.1;
}
.contacts, 
.contacts-header:hover {
    color: var(--secondary-color);
    text-decoration: none;
}
.contacts,
.contacts-header:focus {
    color: var(--secondary-color);
    text-decoration: none;
}
/* .contacts,
.contacts-header:active {
    color: var(--secondary-color);
    text-decoration: none;
} */


/* HERO */
.hero {
    color: var(--whitey-color);
    background-color: var(--hero-bg-color);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

padding-bottom: 200px;


}
.hero-title {
    font-size: 44px;
    line-height: 1.5;

    text-transform: uppercase;

    letter-spacing: 0.06em;
    font-weight: 900;
     
    padding-top: 200px;
    padding-bottom: 30px;
}
.hero-button{
    background-color: var(--secondary-color);
    color:var(--whitey-color);

    border-radius: 4px;
    padding: 13px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-size: 16px;
    width: 200px;
    height: 50px;

    text-decoration: none;
    text-transform: none;
}

/* HEADING */
.under-hero{
    box-sizing:border-box;
        padding-top: 94px;
        padding-bottom: 94px;
}
.heading{
    display: flex;

    letter-spacing: 0.03em;
}

.heading li:not(:last-child){
    margin-right: 30px;
}

.heading-title{
    color: var(--main-color);

    text-transform: uppercase;

    font-weight: bold;
    line-height: 1.1;

    font-size: 14px;

    padding-bottom: 10px;
}
.heading-info{
    color: var(--rare-color);

    font-size: 14px;

    font-weight: normal;
    line-height: 1.7;

    /* padding-right: 67px; */
}

/* Our Classes */
.classes{
    padding-bottom: 94px;
}
.classes-title{
    color: var(--main-color);
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}
.classes-title-team{
        color: var(--main-color);
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        /* padding-top: 94px; */
        padding-bottom: 50px;
}
.classes-img {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Team info */
.team{
    background-color:var(--team-bg-color);
        padding-top: 94px;
        padding-bottom: 94px;
}
.team-block{
    background-color:var(--whitey-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    border-radius: 0px 0px 4px 4px;

}
.team-block:not(:last-child){
    margin-right: 30px;
}
.team-member{
font-size: 16px;
font-weight: 500;

text-align: center;

letter-spacing: 0.03em;

padding-top: 30px;
padding-bottom: 10px;
}
.best-team-member{
display: flex;
/* padding-bottom: 94px; */
}
.team-profession{
    color:var(--rare-color);

    font-size: 16px;
    font-weight: normal;

    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.03em;

    padding-bottom: 30px;
}
/*  */
/*  */
/* Footer */
.footer{
    background-color:var(--hero-bg-color);
        padding-bottom: 60px;
        padding-top: 60px;
}
.container-footer{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}

/* nav-f */
.footer-links{
    display: block;

    margin-bottom: 9px;
}
/* .contacts-links-f {
    margin-left: 215px;
} */
.contacts-footer{
        color: var(--rare-color);

        text-decoration: none;

        font-weight: 500;
        font-size: 14px;

        letter-spacing: 0.02em;
        line-height: 1.1;
}
.contacts-footer:hover{
    color: var(--secondary-color);
    text-decoration: none;
}
.container-footer:focus{
    color: var(--secondary-color);
    text-decoration: none;
}


.web-studio-footer {
    font-size: 26px;
    font-family: Raleway, sans-serif;

    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;

    display: block;
}
/* .web-studio-footer:first-child{
    margin-top: 20px;
} */


/* Contacts and Address */
/* .footer-blocks{
        padding-left: 215px;
} */
.web-studio-footer,
.address-location,
.contacts,
.contacts-footer{
    display: inline-block;
}

.address{
    font-size: 14px;

    line-height: 1.7;
    letter-spacing: 0.03em;

    font-weight: normal;

    display: block;

    padding-top: 20px;
}
.address-location{
    color: var(--whitey-color);
    text-decoration: none;
}


